openapi: 3.1.0
info:
  title: ShopGo Management Authentication Users API
  version: 1.1.0
  description: 'The ShopGo Management API exposes store setup and administration capabilities equivalent to the functions available through the ShopGo (Makane) merchant dashboard: order, payment, shipment, user, tenant and store-settings management for the MENA eCommerce SaaS platform. All requests and responses use application/json and are wrapped in a result/payload envelope. Authentication is via a dashboard user API key (X-API-KEY header) or a platform master key. This OpenAPI was faithfully generated by the API Evangelist enrichment pipeline from the provider''s published documentation at https://docs.shopgo.me — ShopGo does not publish a machine-readable spec.'
  contact:
    name: ShopGo (Makane)
    url: https://docs.shopgo.me
  x-generated-by: api-evangelist-enrichment
  x-generated-method: generated
  x-source: https://docs.shopgo.me/llms.txt
servers:
- url: https://api.shopgo.me
  description: Production
security:
- UserApiKey: []
tags:
- name: Users
  description: Dashboard user and tenant information
paths:
  /v1/management/user/{id}:
    get:
      operationId: getUser
      tags:
      - Users
      summary: Get dashboard user
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique user identifier
      responses:
        '200':
          description: User retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                  payload:
                    type: object
                    properties:
                      user:
                        $ref: '#/components/schemas/DashboardUser'
  /v1/management/tenant:
    get:
      operationId: getTenant
      tags:
      - Users
      summary: Get tenant account
      description: Get information of the tenant (parent) account.
      responses:
        '200':
          description: Tenant retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                  payload:
                    type: object
                    properties:
                      tenant:
                        $ref: '#/components/schemas/Tenant'
components:
  schemas:
    DashboardUser:
      type: object
      description: A ShopGo dashboard user (store owner or staff member).
    Tenant:
      type: object
      description: A ShopGo tenant (store) account.
  securitySchemes:
    UserApiKey:
      type: apiKey
      in: header
      name: X-API-KEY
      description: Dashboard user API key (or platform master key)
    PlatformTenant:
      type: apiKey
      in: header
      name: X-TENANT-ID
      description: Target tenant identifier, required only when authenticating with a platform master key. X-TENANT-NAME may be used instead.
