openapi: 3.2.0
info:
  title: ShopGo Platform Tenants API
  version: 1.1.0
  description: The ShopGo Platform API exposes SaaS platform control capabilities, such as listing tenant accounts.
  contact:
    name: ShopGo (Makane)
    url: https://docs.shopgo.me/platform-api/introduction
  x-generated-by: api-evangelist-enrichment
  x-generated-method: generated
  x-source: https://docs.shopgo.me/platform-api/endpoints.md
servers:
- url: https://api.shopgo.me
  description: Production
security:
- PlatformApiKey: []
tags:
- name: Tenants
paths:
  /v1/platform/tenant/:
    get:
      operationId: listPlatformTenants
      tags:
      - Tenants
      summary: Get all tenants
      description: Get list of all platform tenants.
      responses:
        '200':
          description: Tenants retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                  payload:
                    type: object
                    properties:
                      tenants:
                        type: array
                        items:
                          $ref: '#/components/schemas/Tenant'
  /v1/platform/tenant/{id}:
    get:
      operationId: getPlatformTenant
      tags:
      - Tenants
      summary: Get tenant (single)
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Tenant unique identifier
      responses:
        '200':
          description: Tenant retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                  payload:
                    type: object
                    properties:
                      tenant:
                        $ref: '#/components/schemas/Tenant'
components:
  schemas:
    Tenant:
      type: object
      description: A ShopGo tenant (store) account.
  securitySchemes:
    PlatformApiKey:
      type: apiKey
      in: header
      name: X-API-KEY
      description: Platform master API key (internal use, approval required)
