openapi: 3.2.0
info:
  title: Shopgo Authentication API
  version: 1.1.0
  x-generated-by: api-evangelist-enrichment
  x-generated-method: generated
  x-refined-note:
  - x-source differs across the merged source definitions and was not carried
  description: 'Operations tagged Authentication across 2 of this provider''s published API definitions: shopgo-management-openapi.yml, shopgo-platform-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.shopgo.me
  description: Production
tags:
- name: Authentication
  description: Obtain and test API keys
paths:
  /v1/management/auth/key:
    post:
      operationId: retrieveUserApiKey
      tags:
      - Authentication
      summary: Retrieve user API key
      description: Retrieve the API key of a dashboard user by email and password.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
              required:
              - email
              - password
      responses:
        '200':
          description: API key issued
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: success
                  payload:
                    type: object
                    properties:
                      api_key:
                        type: string
                      user_id:
                        type: string
                      tenant_id:
                        type: string
                      tenant:
                        $ref: '#/components/schemas/Tenant'
                      user:
                        $ref: '#/components/schemas/DashboardUser'
        '401':
          $ref: '#/components/responses/Error'
    servers:
    - url: https://api.shopgo.me
      description: Production
  /v1/management/auth/test:
    get:
      operationId: testAuthentication
      tags:
      - Authentication
      summary: Test authentication
      description: Test that an API key authenticates successfully.
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '401':
          $ref: '#/components/responses/Error'
      security:
      - UserApiKey: []
    servers:
    - url: https://api.shopgo.me
      description: Production
  /v1/platform/auth/test:
    get:
      operationId: testPlatformKey
      tags:
      - Authentication
      summary: Test platform API key
      responses:
        '200':
          description: Key valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: success
                  payload:
                    type: object
        '401':
          $ref: '#/components/responses/Error'
      security:
      - PlatformApiKey: []
    servers:
    - url: https://api.shopgo.me
      description: Production
components:
  schemas:
    Tenant:
      type: object
      description: A ShopGo tenant (store) account.
    DashboardUser:
      type: object
      description: A ShopGo dashboard user (store owner or staff member).
    Error:
      type: object
      description: Error envelope returned on non-2xx responses.
      properties:
        result:
          type: string
          example: error
        description:
          type: string
          description: explanation of what went wrong
    Error_2:
      type: object
      properties:
        result:
          type: string
          example: error
        description:
          type: string
  responses:
    Success:
      description: Successful operation
      content:
        application/json:
          schema:
            type: object
            properties:
              result:
                type: string
                example: success
              payload:
                type: object
    Error:
      description: Error (custom result/description envelope)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    UserApiKey:
      type: apiKey
      in: header
      name: X-API-KEY
      description: Dashboard user API key (or platform master key)
    PlatformTenant:
      type: apiKey
      in: header
      name: X-TENANT-ID
      description: Target tenant identifier, required only when authenticating with a platform master key. X-TENANT-NAME may be used instead.
    PlatformApiKey:
      type: apiKey
      in: header
      name: X-API-KEY
      description: Platform master API key (internal use, approval required)
x-refined-from:
- shopgo-management-openapi.yml
- shopgo-platform-openapi.yml
