openapi: 3.1.0
info:
  title: ShopGo Platform API
  version: 1.1.0
  description: >-
    The ShopGo Platform API exposes SaaS platform control capabilities, such as
    listing tenant accounts. It is primarily used by ShopGo (Makane) internally
    to build tooling. Access requires a platform master API key, which grants
    unrestricted access and is provisioned only to ShopGo's internal product
    teams. Request/response formats match the Management API (application/json
    with a result/payload envelope). Faithfully generated by the API Evangelist
    enrichment pipeline from https://docs.shopgo.me — no machine-readable spec
    is published by the provider.
  contact:
    name: ShopGo (Makane)
    url: https://docs.shopgo.me/platform-api/introduction
  x-generated-by: api-evangelist-enrichment
  x-generated-method: generated
  x-source: https://docs.shopgo.me/platform-api/endpoints.md
servers:
  - url: https://api.shopgo.me
    description: Production
security:
  - PlatformApiKey: []
tags:
  - name: Authentication
  - name: Tenants
paths:
  /v1/platform/auth/test:
    get:
      operationId: testPlatformKey
      tags: [Authentication]
      summary: Test platform API key
      responses:
        '200':
          description: Key valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  result: { type: string, example: success }
                  payload: { type: object }
        '401':
          $ref: '#/components/responses/Error'
  /v1/platform/tenant/:
    get:
      operationId: listPlatformTenants
      tags: [Tenants]
      summary: Get all tenants
      description: Get list of all platform tenants.
      responses:
        '200':
          description: Tenants retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  result: { type: string }
                  payload:
                    type: object
                    properties:
                      tenants:
                        type: array
                        items: { $ref: '#/components/schemas/Tenant' }
  /v1/platform/tenant/{id}:
    get:
      operationId: getPlatformTenant
      tags: [Tenants]
      summary: Get tenant (single)
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
          description: Tenant unique identifier
      responses:
        '200':
          description: Tenant retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  result: { type: string }
                  payload:
                    type: object
                    properties:
                      tenant: { $ref: '#/components/schemas/Tenant' }
components:
  securitySchemes:
    PlatformApiKey:
      type: apiKey
      in: header
      name: X-API-KEY
      description: Platform master API key (internal use, approval required)
  responses:
    Error:
      description: Error (custom result/description envelope)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
  schemas:
    Error:
      type: object
      properties:
        result: { type: string, example: error }
        description: { type: string }
    Tenant:
      type: object
      description: A ShopGo tenant (store) account.
